In [4]:
import pandas as pd
df1 =pd.read_csv("/content/drive/MyDrive/CIND830_Fall Semester/Features data set.csv")
df1.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [5]:
df1.describe()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,8190.000000,8190.000000,8190.000000,4032.000000,2921.000000,3613.000000,3464.000000,4050.000000,7605.000000,7605.000000
mean,23.000000,59.356198,3.405992,7032.371786,3384.176594,1760.100180,3292.935886,4132.216422,172.460809,7.826821
std,12.987966,18.678607,0.431337,9262.747448,8793.583016,11276.462208,6792.329861,13086.690278,39.738346,1.877259
min,1.000000,-7.290000,2.472000,-2781.450000,-265.760000,-179.260000,0.220000,-185.170000,126.064000,3.684000
25%,12.000000,45.902500,3.041000,1577.532500,68.880000,6.600000,304.687500,1440.827500,132.364839,6.634000
50%,23.000000,60.710000,3.513000,4743.580000,364.570000,36.260000,1176.425000,2727.135000,182.764003,7.806000
75%,34.000000,73.880000,3.743000,8923.310000,2153.350000,163.150000,3310.007500,4832.555000,213.932412,8.567000
max,45.000000,101.950000,4.468000,103184.980000,104519.540000,149483.310000,67474.850000,771448.100000,228.976456,14.313000

In [7]:
df1.shape

(8190, 12)

In [8]:
print(f'Temperature: {df1.Temperature.count()}')
print(f'Markdown1: {df1.MarkDown1.count()}')
print(f'Markdown2: {df1.MarkDown2.count()}')
print(f'Markdown3: {df1.MarkDown3.count()}')
print(f'Markdown4: {df1.MarkDown4.count()}')
print(f'Markdown5: {df1.MarkDown5.count()}')

Temperature: 8190
Markdown1: 4032
Markdown2: 2921
Markdown3: 3613
Markdown4: 3464
Markdown5: 4050

In [9]:
print(f'Store: {df1.Store.nunique()}')
print(f'Temperature: {df1.Temperature.nunique()}')

Store: 45
Temperature: 4178

In [10]:
print(f'Store: {df1.Store.dtype}')
print(f'Temperature: {df1.Temperature.dtype}')
print(f'Fuel price: {df1.Fuel_Price.dtype}')
print(f'CPI: {df1.CPI.dtype}')
print(f'Unemployment: {df1.Unemployment.dtype}')

Store: int64
Temperature: float64
Fuel price: float64
CPI: float64
Unemployment: float64

In [11]:
print(f'Minimum:{df1.Temperature.min()}')
print(f'Maximum:{df1.Temperature.max()}')
print(f'First Quantile: {df1.Temperature.quantile(0.25)}')
print(f'Second Quantile: {df1.Temperature.quantile(0.50)}')
print(f'Third Quantile: {df1.Temperature.quantile(0.75)}')
print(f'Mean: {df1.Temperature.mean()}')
print(f'Median: {df1.Temperature.median()}')
print(f'Mode: {df1.Temperature.mode()}')
print(f'Standard Deviation: {df1.Temperature.std()}')

Minimum:-7.29
Maximum:101.95
First Quantile: 45.902499999999996
Second Quantile: 60.71
Third Quantile: 73.88
Mean: 59.356197802197805
Median: 60.71
Mode: 0    50.43
1    70.28
dtype: float64
Standard Deviation: 18.67860684890715

In [12]:
print(f'Minimum:{df1.Fuel_Price.min()}')
print(f'Maximum:{df1.Fuel_Price.max()}')
print(f'First Quantile: {df1.Fuel_Price.quantile(0.25)}')
print(f'Second Quantile: {df1.Fuel_Price.quantile(0.50)}')
print(f'Third Quantile: {df1.Fuel_Price.quantile(0.75)}')
print(f'Mean: {df1.Fuel_Price.mean()}')
print(f'Median: {df1.Fuel_Price.median()}')
print(f'Mode: {df1.Fuel_Price.mode()}')
print(f'Standard Deviation: {df1.Fuel_Price.std()}')

Minimum:2.472
Maximum:4.468
First Quantile: 3.041
Second Quantile: 3.513
Third Quantile: 3.743
Mean: 3.405991819291819
Median: 3.513
Mode: 0    3.417
1    3.638
dtype: float64
Standard Deviation: 0.43133657110071344

In [13]:
df1.corr()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
Store,1.000000e+00,-0.020566,0.066682,-0.136967,-0.044223,-0.033279,-0.005174,-0.011970,-0.209282,0.221153,-4.186667e-16
Temperature,-2.056605e-02,1.000000,0.101354,-0.124979,-0.321888,-0.077552,-0.064194,-0.003241,0.164426,0.150890,-1.619056e-01
Fuel_Price,6.668205e-02,0.101354,1.000000,0.066122,-0.193461,-0.057168,-0.008546,-0.021926,-0.186696,-0.033360,-7.823797e-02
MarkDown1,-1.369671e-01,-0.124979,0.066122,1.000000,0.021289,-0.089841,0.810455,0.085967,-0.044327,0.020501,1.526209e-01
MarkDown2,-4.422331e-02,-0.321888,-0.193461,0.021289,1.000000,-0.053555,-0.046595,-0.008166,-0.044896,-0.001692,2.994476e-01
MarkDown3,-3.327926e-02,-0.077552,-0.057168,-0.089841,-0.053555,1.000000,-0.062785,-0.016026,-0.020166,-0.003464,4.452239e-01
MarkDown4,-5.173997e-03,-0.064194,-0.008546,0.810455,-0.046595,-0.062785,1.000000,0.042952,-0.053868,0.021905,1.348406e-01
MarkDown5,-1.196994e-02,-0.003241,-0.021926,0.085967,-0.008166,-0.016026,0.042952,1.000000,0.001526,0.031847,-2.462956e-02
CPI,-2.092824e-01,0.164426,-0.186696,-0.044327,-0.044896,-0.020166,-0.053868,0.001526,1.000000,-0.303110,1.008430e-03
Unemployment,2.211525e-01,0.150890,-0.033360,0.020501,-0.001692,-0.003464,0.021905,0.031847,-0.303110,1.000000,-2.644393e-03
IsHoliday,-4.186667e-16,-0.161906,-0.078238,0.152621,0.299448,0.445224,0.134841,-0.024630,0.001008,-0.002644,1.000000e+00

In [14]:
import pandas as pd
df2 = pd.read_csv("/content/drive/MyDrive/CIND830_Fall Semester/sales data-set.csv")
df2.corr()

                 Store      Dept  Weekly_Sales  IsHoliday
Store         1.000000  0.024004     -0.085195  -0.000548
Dept          0.024004  1.000000      0.148032   0.000916
Weekly_Sales -0.085195  0.148032      1.000000   0.012774
IsHoliday    -0.000548  0.000916      0.012774   1.000000